<template>
  <v-layout row>
    <v-btn style="left:10px" mt-3 fab dark large color="cyan" fixed @click="canDrag = !canDrag">
      <v-icon dark v-if="!canDrag">edit</v-icon>
      <v-icon dark v-if="canDrag">save</v-icon>
    </v-btn>
    <v-flex xs12 sm6 offset-sm3 mt-3>
      <v-card>
        <v-flex>
          <v-text-field label="Playlistname" solo :append-icon="'cloud_upload'" v-model="playlistName" @click:append="saveItem"></v-text-field>
        </v-flex>
        <v-list two-line>
          <v-flex xs12 v-if="currentItem">
            <v-card color="cyan darken-2" class="white--text">
              <v-layout>
                <v-flex xs5>
                  <v-img :src="currentItem.artwork_url_300" center height="175px" contain></v-img>
                </v-flex>
                <v-flex xs7>
                  <v-card-title primary-title>
                    <div>
                      <div class="headline">{{currentItem.title}}</div>
                      <div>{{currentItem.user.username}}</div>
                      <!-- <div>{{new Date(currentItem.created_at).toShortDateString()}}</div> -->
                    </div>
                  </v-card-title>
                </v-flex>
              </v-layout>
              <v-divider light></v-divider>
              <v-card-actions class="pa-3">
                <v-spacer/>
                <v-btn @click="play(currentItem.stream_url, currentItem)">
                  <v-icon v-if="!isPlaying">play_arrow</v-icon>
                  <v-icon v-if="isPlaying">pause</v-icon>
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
          <draggable
            group="track"
            :list="currentPlaylist"
            class="list-group"
            :disabled="!canDrag"
            ghost-class="ghost"
            @start="dragging = true"
            @end="dragging = false"
          >
            <template v-for="(item, index) in currentPlaylist">
              <v-subheader v-if="item.header" :key="index">{{ item.header }}</v-subheader>

              <v-divider v-else-if="item.divider" :key="index" :inset="item.inset"></v-divider>

              <v-list-tile v-else :key="index" avatar @click="play(item.stream_url, item)">
                <v-list-tile-avatar>
                  <img :src="item.artwork_url">
                </v-list-tile-avatar>

                <v-list-tile-content>
                  <v-list-tile-title v-html="item.title"></v-list-tile-title>
                  <v-list-tile-sub-title v-html="item.user.username"></v-list-tile-sub-title>
                </v-list-tile-content>
                <v-list-tile-action>
                  <v-icon @click.stop="currentPlaylist = currentPlaylist.filter(current => current.id !== item.id)">remove</v-icon>
                </v-list-tile-action>
              </v-list-tile>
            </template>
          </draggable>
        </v-list>
        <v-text-field
          v-model="newItem.name"
          mt-2
          label="Search SoundCloud.."
          box
          append-outer-icon="search"
          @click:append-outer="doQuery(newItem.name)"
          @keyup.enter="doQuery(newItem.name)"
          required
        ></v-text-field>
        <v-list two-line>
          <draggable
            :list="results"
            class="list-group"
            group="track"
            :disabled="!canDrag"
            ghost-class="ghost"
            @start="dragging = true"
            @end="dragging = false"
          >
            <template v-for="(item, index) in results">
              <v-subheader v-if="item.header" :key="index">{{ item.header }}</v-subheader>

              <v-divider v-else-if="item.divider" :key="index" :inset="item.inset"></v-divider>

              <v-list-tile v-else :key="index" avatar @click="play(item.stream_url, item)">
                <v-list-tile-avatar>
                  <img :src="item.artwork_url">
                </v-list-tile-avatar>

                <v-list-tile-content>
                  <v-list-tile-title v-html="item.title"></v-list-tile-title>
                  <v-list-tile-sub-title v-html="item.user.username"></v-list-tile-sub-title>
                </v-list-tile-content>

                <v-list-tile-action v-if="!currentPlaylist.find(m => m.id === item.id)">
                  <v-icon @click.stop="currentPlaylist.push(item)">add</v-icon>
                </v-list-tile-action>
              </v-list-tile>
            </template>
          </draggable>
        </v-list>
      </v-card>
    </v-flex>
    <div style="visibility:hidden;">
      <div id="container"></div>
      <div class="message" id="warning1">
        <h1>
          This experiment requires the
          <a
            href="https://dvcs.w3.org/hg/audio/raw-file/tip/webaudio/specification.html"
            target="_blank"
          >Web Audio API</a>
        </h1>
        <h2>
          Please try in one of
          <a
            href="http://caniuse.com/#feat=audio-api"
            target="_blank"
          >these browsers</a>
        </h2>
      </div>
      <div class="message" id="warning2">
        <h1>
          Safari users. You may hear audio but see no visuals. This is due to
          <a
            href="https://goo.gl/6WLx1"
            target="_blank"
          >this bug</a>
          in Safari 6
        </h1>
      </div>
      <div class="message" id="intro">
        <h1>Simple music visualiser</h1>
        <h2>Loading audio&hellip;</h2>
      </div>
    </div>
  </v-layout>
</template>

<script>
import draggable from "vuedraggable";
import storageService from '@/handlers/storageService.js';

const SC_CLIENT_ID = "6a6d550e76375d5095159e649c9e04a7";
var audio = new Audio();
var analyzer;
audio.crossOrigin = "anonymous";
import AudioAnalyser from "@/util/Pills.js";
export default {
  mounted() {
    this.soundcloudInit();
    this.doQuery("nerdreflex");
  },
  methods: {
    saveItem() {
      const playlists = JSON.parse(storageService.getItem('playlists')) || [];
      storageService.setItem('playlists', JSON.stringify([...playlists, {
        name: this.playlistName,
        items: this.currentPlaylist,
        created_at: new Date(),
      }]));
      this.playlistName = '';
      this.currentPlaylist = [];
      this.$router.push('list')
    },
    addItem($event) {
      console.log($event);
    },
    doQuery: function(query, queryType) {
      var self = this;
      var options = {
        limit: 120
      };
      if (queryType == "tags") {
        options.tags = query;
      } else {
        options.q = query;
      }
      SC.get("/tracks", options).then(function(tracks) {
        var newData = [];
        tracks.forEach(function(track) {
          track.artwork_url_500 = "http://placehold.it/500?text=No+Artwork";
          track.artwork_url_300 = "http://placehold.it/300?text=No+Artwork";
          if (track.artwork_url) {
            track.artwork_url_500 = track.artwork_url.replace(
              "large",
              "t500x500"
            );
            track.artwork_url_300 = track.artwork_url.replace(
              "large",
              "t300x300"
            );
          }
          newData.push(track);
        });
        console.log(newData);
        self.results = newData;
      });
    },
    play: function(stream_url, item) {
      stream_url = stream_url + "?client_id=" + SC_CLIENT_ID;
      this.currentItem = item;
      console.log(item);
      if (audio.paused) {
        if (stream_url != this.stream_url) {
          // Load new audio
          this.stream_url = stream_url;
          audio.pause();
          audio.setAttribute("src", this.stream_url);
          audio.load();
        }
        // Continue audio
        audio.onplay = () => {
          AudioAnalyser(audio, analyser => {
            //  analyser.play();
            analyser = analyser;
            console.log(analyser);
          });
        };
        audio.play();

        this.isPlaying = true;
      } else {
        audio.pause();
        this.isPlaying = false;
      }
    },
    soundcloudInit: function() {
      SC.initialize({
        client_id: SC_CLIENT_ID,
        redirect_uri: "http://127.0.0.1:8080/callback.html"
      });
      var getConnections = function() {
        return SC.get("/me/connections");
      };
    }
  },
  components: {
    draggable
  },
  data() {
    return {
      newItem: {
        name: "nerdreflex"
      },
      playlistName: '',
      currentPlaylist: [],
      currentItem: null,
      query: "",
      stream_url: "",
      isPlaying: false,
      results: [],
      canDrag: false,
      dragging: false,
      analyser: null
    };
  }
};
</script>

<style>
canvas {
  pointer-events: none;
  z-index: 0;
}
.v-content {
  z-index: 1;
}
</style>
