<template>
  <div class="home">
    <landing />
    <audio-player></audio-player>
  </div>
</template>

<script lang='ts'>
import { Component, Vue } from 'vue-property-decorator';
import AudioPlayer from '@/components/AudioPlayer.vue'; // @ is an alias to /src
import Landing from '@/components/Landing.vue';
@Component({
  components: {
    AudioPlayer,
    Landing,
  },
})
export default class Home extends Vue {}
</script>
