<template>
  <v-container>
    <v-btn @click='openSpotify'>Login</v-btn>
  </v-container>
</template>

<script>
const Spotify = require('spotify-web-api-js');
export default {
  async mounted() {
    const spotifyApi = new Spotify();
    const token = sessionStorage.getItem('spotify');
    if (token) {
      spotifyApi.setAccessToken(token);
      console.log(spotifyApi);
      const profile = await spotifyApi.getMe(); // more permissions
      console.log(profile);
    }
  },
  methods: {
    openSpotify() {
      window.open(
        'https://accounts.spotify.com/authorize' +
          '?response_type=code' +
          '&client_id=' +
          this.my_client_id +
          (this.scopes ? '&scope=' + encodeURIComponent(this.scopes) : '') +
          '&redirect_uri=' +
          encodeURIComponent(this.redirect_uri) 
      );
    }
  },
  data() {
    return {
      my_client_id: '6e9b262dcf6e406e84fda5591bda5f2e',
      scopes: 'playlist-read-private',
      redirect_uri: process.env.BASE_URL + '/spotify'
    };
  }
};
</script>

<style>
</style>
