
<template>
  <v-container>
    <v-flex>
      <v-data-table
        :headers="headers"
        :items="playlists"
        :loading="loading"
        class="elevation-1"
        :expand="expand"
        item-key="created_at"
      >
        <v-progress-linear v-slot:progress color="blue" indeterminate></v-progress-linear>
        <template v-slot:items="props">
          <tr @click="props.expanded = !props.expanded">
            <td>{{ props.item.name }}</td>
            <td>{{ props.item.created_at }}</td>
            <td>{{ props.item.count }}</td>
          </tr>
        </template>
        <template v-slot:expand="props">
          <v-card flat>
            <v-list>
              <template v-for="(item, index) in props.item.items">
                <v-subheader v-if="item.header" :key="item.header">{{ item.header }}</v-subheader>

                <v-divider v-else-if="item.divider" :key="index" :inset="item.inset"></v-divider>

                <v-list-tile v-else :key="item.title" avatar>
                  <v-list-tile-avatar>
                    <img :src="item.artwork_url">
                  </v-list-tile-avatar>

                  <v-list-tile-content>
                    <v-list-tile-title v-html="item.title"></v-list-tile-title>
                    <v-list-tile-sub-title v-html="item.user.username"></v-list-tile-sub-title>
                  </v-list-tile-content>
                  <!-- <v-list-tile-action>
                    <v-icon
                      @click.stop="currentPlaylist = currentPlaylist.filter(current => current.id !== item.id)"
                    >remove</v-icon>
                  </v-list-tile-action> -->
                </v-list-tile>
              </template>
            </v-list>
          </v-card>
        </template>
      </v-data-table>
    </v-flex>
  </v-container>
</template>

<script>
import storageService from "../handlers/storageService";
export default {
  data() {
    return {
      expand: true,
      headers: [
        { text: "Name", value: "name" },
        { text: "Creation Date", value: "created_at" },
        { text: "Track Count", value: "count" }
      ],
      loading: true,
      playlists: []
    };
  },
  mounted() {
    const playlists = JSON.parse(storageService.getItem("playlists")) || [];
    this.playlists = playlists.map(e => {
      e.count = e.items.length;
      return e;
    });
    this.loading = false;
  }
};
</script>

<style>
</style>
