<template>
  <div>
    OK Logged In
  </div>
</template>

<script>
export default {
  mounted() {
    console.log(this.$route.query);
    sessionStorage.setItem('spotify', this.$route.query.code);
  },
}
</script>

<style>

</style>
