<template>
  <dir>
    <!-- <audio-visual3></audio-visual3> -->
  </dir>
</template>

<script>
// import AudioVisual3 from '@/components/AudioVisual3.vue';
export default {
  components: {
    // AudioVisual3,
  },
};
</script>

<style>
</style>
