<template>
  <v-container>
    <p>
      Generates Visualization based on music
      <br>
      Press play to play link source
    </p>
    <input type="text" v-model="url" placeholder="Enter URL here">
    <v-btn @click="$refs.visual.play(url)">Load</v-btn>
    <audio-visual2 ref="visual"/>
  </v-container>
</template>

<script>
import AudioVisual2 from '../components/AudioVisual2';
export default {
  mounted() {},
  data() {
    return {
      url: 'https://djdiox.gitlab.io/club-revolution-frontend/ask.mp3',
    };
  },
  components: {
    AudioVisual2,
  },
};
</script>

<style>
</style>
