<template>
  <v-container>
    <div class="controls hidden" id="controls">
      <div class="buttons">
        <button>
          <img id="mute" src="@/assets/img/mute.svg" alt="Mute">
        </button>

        <button>
          <img id="play-or-pause" src="@/assets/img/play.svg" alt="Play">
        </button>

        <button>
          <img id="fullScreen" src="@/assets/img/full_screen.svg" alt="Full screen">
        </button>
      </div>

      <div class="sliders">
        <input id="shape" type="range" min="0.03" max="0.4" step="0.01" value="0.03">
      </div>
    </div>
    <div id="main"></div>
  </v-container>
</template>

<script>
import Ellipse from "../util/Ellipse";
import Sound from "../util/Sound";

let OrbitControls = require("three-orbit-controls")(THREE),
  Stats = require("stats.js"),
  nbEllipse = 105,
  arrayEllipse = [],
  rotationValue = 10,
  time = 0,
  enableRotation = true,
  fullScreen = false,
  playSound = true,
  volume = true,
  debug = false;

export default {
  mounted() {},
  methods: {
    play(path) {
      this.createScene();
      this.createEllipse();
      this.renderer();
      this.importAudio(path);
      this.importControls();
      if (debug) {
        this.debug();
      }

      window.addEventListener("resize", this.onWindowResize.bind(this), false);
    },
    arrAverage(arr) {
      var sum = arr.reduce(function(a, b) {
        return a + b;
      });

      return sum / arr.length;
    },
    createScene() {
      this.container = document.getElementById('main');
      document.body.appendChild(this.container);

      this.stats = new Stats();
      this.stats.showPanel(0);
      document.body.appendChild(this.stats.dom);

      this.camera = new THREE.PerspectiveCamera(
        70,
        window.innerWidth / window.innerHeight,
        0.1,
        100
      );
      this.camera.position.z = 30;

      let controls = new OrbitControls(this.camera, this.container);
      controls.minDistance = 20;
      controls.maxDistance = 30;
      controls.enableDamping = true;
      controls.dampingFactor = 0.07;
      controls.rotateSpeed = 0.07;

      this.scene = new THREE.Scene();
    },

    createEllipse() {
      this.groupEllipse = new THREE.Group();
      this.shapeSlider = document.getElementById("shape");

      for (let i = 0; i < nbEllipse; i++) {
        let ellipse = new Ellipse(
          0,
          0,
          10,
          10,
          0,
          2 * Math.PI,
          false,
          0,
          rotationValue,
          i,
          this.shapeSlider.value
        );
        arrayEllipse.push(ellipse);
        this.groupEllipse.add(ellipse.line);
      }

      this.scene.add(this.groupEllipse);

      this.changeShape();
    },

    changeShape() {
      this.shapeSlider.addEventListener("change", () => {
        for (let i = 0; i < nbEllipse; i++) {
          let ellipse = arrayEllipse[i];
          ellipse.changeShape(this.shapeSlider.value);
        }
      });
    },

    renderer() {
      this.renderer = new THREE.WebGLRenderer({
        antialias: true,
        alpha: true
      });
      this.renderer.setPixelRatio(window.devicePixelRatio);
      this.renderer.setSize(window.innerWidth, window.innerHeight);
      this.container.appendChild(this.renderer.domElement);

      this.renderer.animate(this.render.bind(this));
    },

    render() {
      this.stats.begin();

      if (enableRotation) {
        this.groupEllipse.rotation.x += Math.cos(rotationValue) * 0.005;
        this.groupEllipse.rotation.y += Math.sin(rotationValue) * 0.01;
      }

      if (playSound) {
        this.midAverage = this.arrAverage(this.audio.getSpectrum()) / 200;
        arrayEllipse.forEach(ellipse => ellipse.update(this.midAverage));
      } else {
        time += 0.016;
        arrayEllipse.forEach(ellipse => ellipse.update(time));
      }
      this.renderer.render(this.scene, this.camera);
      this.stats.end();
    },

    importAudio(path) {
      this.audio = new Sound(
        path,
        null,
        null,
        () => {
          console.log(this.audio.progress);
          if (playSound) {
            let landingPage = document.getElementById("landing");
            let loading = document.getElementById("loader");
            let landingButton = document.getElementById("landingButton");
            let controls = document.getElementById("controls");
            this.audio._load(path, () => {
              loading.classList.add("hidden");
              landingButton.classList.remove("hidden");
              landingButton.addEventListener("click", () => {
                landingPage.style.display = "none";
                controls.classList.remove("hidden");
                this.audio.play();
              });
            });
          }
        },
        debug
      );
    },
    importControls() {
      let muteButton = document.getElementById("mute");
      muteButton.addEventListener("click", () => {
        muteButton.classList.toggle("visible");
      });
      document.getElementById("mute").addEventListener("click", () => {
        if (volume) {
          this.audio.volume = 0;
          volume = false;
        } else {
          this.audio.volume = 1;
          volume = true;
        }
      });
      let playOrPauseButton = document.getElementById("play-or-pause");
      playOrPauseButton.addEventListener("click", () => {
        if (this.audio.isPlaying) {
          this.audio.pause();
          playOrPauseButton.src = require("@/assets/img/play.svg");
        } else {
          this.audio.play();
          playOrPauseButton.src = require("@/assets/img/pause.svg");
        }
      });
      let fullScreenButton = document.getElementById("fullScreen");
      fullScreenButton.addEventListener("click", function() {
        if (
          !document.fullscreenElement &&
          !document.mozFullScreenElement &&
          !document.webkitFullscreenElement
        ) {
          if (document.documentElement.requestFullscreen) {
            document.documentElement.requestFullscreen();
          } else if (document.documentElement.mozRequestFullScreen) {
            document.documentElement.mozRequestFullScreen();
          } else if (document.documentElement.webkitRequestFullscreen) {
            document.documentElement.webkitRequestFullscreen(
              Element.ALLOW_KEYBOARD_INPUT
            );
          }
        } else {
          if (document.cancelFullScreen) {
            document.cancelFullScreen();
          } else if (document.mozCancelFullScreen) {
            document.mozCancelFullScreen();
          } else if (document.webkitCancelFullScreen) {
            document.webkitCancelFullScreen();
          }
        }
        fullScreenButton.classList.toggle("visible");
      });
      document.addEventListener("keydown", e => {
        if (
          e.target.nodeName.toLowerCase() === "input" &&
          e.target.type === "text"
        ) {
          return;
        }
        if (e.keyCode === 32) {
          playOrPauseButton.click();
        } else if (e.keyCode === 70) {
          fullScreenButton.click();
        } else if (e.keyCode === 77) {
          muteButton.click();
        }
      });
    },

    onWindowResize() {
      this.camera.aspect = window.innerWidth / window.innerHeight;
      this.camera.updateProjectionMatrix();
      this.currentRenderer.setSize(window.innerWidth, window.innerHeight);
    },

    debug() {
      let axisHelper = new THREE.AxisHelper(20);
      this.scene.add(axisHelper);
    }
  }
};
</script>

<style>
.application {
  z-index: 1;
}
canvas {
  position: absolute;
  top: 0;
  z-index: 0;
}
.controls {
  margin-top: 15px;
  margin-right: 15px;
  position: absolute;
  right: 0;
  width: 170px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#main {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  /* z-index: -1; */
  pointer-events: none;
}
button {
  margin-left: 15px;
  background-color: transparent;
  border: none;
  outline: none;
  transition: all 0.3s ease;
}

button:first-of-type {
  margin: 0;
}

button:last-of-type {
  margin-right: 20px;
}

img {
  opacity: 0.5;
  padding: 10px;
}

img:hover,
input[type="range"]:hover {
  cursor: pointer;
  opacity: 1;
}

input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type="range"] {
  width: 100px;
  height: 30px;
  background: transparent;
  font-size: 12px;
  opacity: 0.5;
  outline: none;
  transition: all 0.3s ease;
}
input[type="range"]::-webkit-slider-runnable-track {
  margin: 0 0.75em;
  border: none;
  padding: 0 0.125em;
  width: 20em;
  height: 0.25em;
  border-radius: 0.125em;
  background: #d2a0a4;
}
input[type="range"]::-moz-range-track {
  border: none;
  padding: 0 0.125em;
  width: 20em;
  height: 0.25em;
  border-radius: 0.125em;
  background: #d2a0a4;
}
input[type="range"]::-ms-track {
  margin: 0 0.75em;
  border: none;
  padding: 0 0.125em;
  width: 20em;
  height: 0.25em;
  border-radius: 0.125em;
  background: #d2a0a4;
  color: transparent;
}
input[type="range"]::-webkit-slider-thumb {
  margin-top: -0.625em;
  box-sizing: border-box;
  border: solid 0.25em #f3d3d3;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: #d2a0a4;
  transition: 0.3s;
}
input[type="range"]::-moz-range-thumb {
  box-sizing: border-box;
  border: solid 0.25em #f3d3d3;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: #d2a0a4;
  transition: 0.3s;
  cursor: ew-resize;
}
input[type="range"]::-ms-thumb {
  box-sizing: border-box;
  border: solid 0.25em #f3d3d3;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: #5c5c5c;
  transition: 0.3s;
}

.author {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  color: #d2a0a4;
  font-size: 12px;
  z-index: 10;
}

.separator {
  margin: 0 6px;
}

a {
  color: #d2a0a4;
}
</style>
