<template>
  <div>
    <div style="position:absolute;left:0;top:0;">
      <div id="out"></div>
      <audio id="visualMusicPlayer" style="display:none;" muted="true" controls></audio>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>
