<template>
  <v-container>
    <audio-visual ref="audioVisual"></audio-visual>
    <p>Creates a visualization locally based on selected musics</p>
    <upload-file v-on:fileAdded="loadTrack"></upload-file>
    <v-container>
      <h2 v-if="isSoundLoaded && audioPlayer">{{currentFilename}}</h2>
      <div id="waveform"></div>
      <v-layout align-center justify-end row v-if="isSoundLoaded">
        <v-btn v-if="this.isPlaying" large color="red" @click="pause">Pause</v-btn>
        <v-btn v-if="!this.isPlaying" large color="green" @click="play">Play</v-btn>
      </v-layout>
    </v-container>
  </v-container>
</template>

<script>
import UploadFile from "@/components/UploadFile.vue";
import AudioVisual from "@/components/AudioVisual.vue";
import moment from 'moment';
export default {
  components: {
    UploadFile,
    AudioVisual
  },
  mounted() {
    this.wavesurfer = WaveSurfer.create({
      container: "#waveform"
    });
    this.audioPlayer = document.getElementById("visualMusicPlayer");
  },
  destroyed() {
    if (this.wavesurfer) {
      this.wavesurfer.unAll();
    }
  },
  methods: {
    loadTrack(file) {
      console.log("Wavesurfer is loading", file);
      this.currentFilename = file.name;
      this.wavesurfer.loadBlob(file);
      this.wavesurfer.toggleMute();
      const self = this;
      this.wavesurfer.on("ready", () => {
        console.log("init");
        self.wavesurfer.play();
        self.currentDuration = self.wavesurfer.getDuration();
        self.$refs.audioVisual.vizInit(file);
        self.wavesurfer.on("seek", val => {
          self.audioPlayer.currentTime = val * self.audioPlayer.duration;
        });
        self.wavesurfer.on("audioprocess", () => {
          self.currentTimeInSeconds = self.wavesurfer.getCurrentTime();
        });
        
        self.isSoundLoaded = true;
        self.isPlaying = true;
      });
    },
    pause() {
      this.wavesurfer.pause();
      this.audioPlayer.pause();
      this.isPlaying = false;
    },
    play() {
      this.wavesurfer.play();
      this.audioPlayer.play();
      this.isPlaying = true;
    }
  },
  data: () => ({
    currentFilename: "",
    wavesurfer: null,
    isSoundLoaded: false,
    isPlaying: false,
    audioPlayer: null,
    currentTimeInSeconds: 0
  })
};
</script>

<style>
.wave-player {
  background: gray;
}
</style>
