<template>
  <v-footer dark height="auto">
    <v-flex v-if="currentItem">Now Playing: {{currentItem.title}}</v-flex>
    <audio ref="currentAudio"></audio>
    <v-spacer/>
    <div class="text-xs-center">
      <v-menu offset-y>
        <template v-slot:activator="{ on }">
          <v-btn color="primary" dark v-on="on">Playlists</v-btn>
        </template>
        <v-list>
          <v-list-tile
            v-for="(item, index) in playlists"
            @click="selectPlaylist(item)"
            :key="index"
          >
            <v-list-tile-title>{{ item.name }}</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
    </div>
    <div class="text-xs-center" v-if="currentPlaylist">
      <v-menu offset-y>
        <template v-slot:activator="{ on }">
          <v-btn color="primary" dark v-on="on">Tracks</v-btn>
        </template>
        <v-list>
          <v-list-tile
            v-for="(item, index) in currentPlaylist.items"
            @click="play(item)"
            :key="index"
          >
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
    </div>
    <div v-if="currentItem">
      <v-icon @click="skip(true)">skip_previous</v-icon>
      <v-icon v-if="!isPlaying" @click="playPause(true)">play_circle_filled</v-icon>
      <v-icon v-if="isPlaying" @click="playPause(false)">pause_circle_filled</v-icon>
      <v-icon @click="skip(false)">skip_next</v-icon>
    </div>
  </v-footer>
</template>

<script>
const SC_CLIENT_ID = "6a6d550e76375d5095159e649c9e04a7";
import storageService from "../handlers/storageService";
export default {
  mounted() {},
  methods: {
    skip(previous) {
      const index = this.currentPlaylist.items.findIndex(
        e => e.id === this.currentItem.id
      );
      const nextIndex = previous ? index - 1 : index + 1;
      // this.currentItem = this.currentPlaylist.items[nextIndex];
      this.play(tthis.currentPlaylist.items[nextIndex]);
    },
    play(item) {
      this.currentItem = item;
      const stream_url = item.stream_url + "?client_id=" + SC_CLIENT_ID;
      this.$refs.currentAudio.src = stream_url;
      this.playPause(true);
    },
    playPause(shouldPlay) {
      this.isPlaying = shouldPlay;
      if (!shouldPlay) {
        this.$refs.currentAudio.pause();
      } else {
        this.$refs.currentAudio.play();
      }
    },
    selectPlaylist(playlist) {
      this.currentPlaylist = playlist;
    }
  },
  computed: {
    playlists() {
      const playlists = JSON.parse(storageService.getItem("playlists"));
      return playlists || [];
    }
  },
  data() {
    return {
      isPlaying: false,
      items: [],
      currentItem: null,
      currentPlaylist: null
    };
  }
};
</script>

<style>
</style>
