<template>
  <div>
    <input type="file" id="uploadFile" @change="fileAdded">
  </div>
</template>

<script>
var self;
export default {
  methods: {
    fileAdded($event) {
      console.log($event);
      this.$emit("fileAdded", $event.target.files[0]);
    }
  },
  mounted() {
    self = this;
  },
  components: {
  }
};
</script>

<style>
</style>
