<template>
  <v-app>
    <v-toolbar app>
      <v-toolbar-side-icon></v-toolbar-side-icon>
      <v-toolbar-title class="headline text-uppercase">
        <span>Club Revolution</span>
        <span class="font-weight-light"> GONE DIGITAL</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn flat @click="$router.push('/')">Home</v-btn>
        <v-btn flat @click="$router.push('/playlist/create')">Create Playlist</v-btn>
        <v-btn flat @click="$router.push('/playlist/list')">Show Playlists</v-btn>
        <v-btn flat @click="$router.push('/visual')">Visualization</v-btn>
        <v-btn flat @click="$router.push('/visual2')">Visualization 2</v-btn>
        <v-btn flat @click="$router.push('services')">Integrations</v-btn>
      </v-toolbar-items>
    </v-toolbar>

    <v-content>
      <router-view />
    </v-content>
    <player />
  </v-app>
</template>

<script>
import Player from '@/components/Player.vue';
export default {
  name: "App",
  components: {
    // Landing
    Player,
  },
  data() {
    return {
      //
    };
  },
};
</script>
